<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EliteHttpController</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
    <servlet-name>eliteHTTP</servlet-name>
    <servlet-class>com.elitecore.elitehttp.EliteHTTPControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eliteHTTP</servlet-name>
    <url-pattern>/eliteHTTP</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>eliteJSONGateway</servlet-name>
    <servlet-class>com.elitecore.elitejson.EliteJSONControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eliteJSONGateway</servlet-name>
    <url-pattern>/eliteJSONGateway</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
 
</web-app>